/*Animations*/

@keyframes slideInFromBottom {
    0% {
      transform: translateY(25%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-25%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

@keyframes slideInFromRight {
    0% {
      transform: translateX(25%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
body {
    margin-right: 20%;
    margin-left: 20%;
    font-family: "Inter", sans-serif;
    background-color: #f8f8f8;
}

/*Nav styles*/
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 47px;
    padding-bottom: 64px;
    position: sticky;
    top: 0;
    width: 100%;
}

.right-side {
    display: flex; 
    
}

.logo img {
    height: 40px;
    
}

.nav-wrapper > .right-side > div {
    margin-left: 24px; 
    font-size: 1em;
    text-transform: lowercase;
    animation: 0.8s ease-in-out 0s 1 slideInFromBottom;
    background-color: #f8f8f8;
}

.nav-link-wrapper {
    height: 24px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
    background-color: #f8f8f8;
}

.nav-link-wrapper a {
    line-height: 0.75em;
    font-size: 1em;
    letter-spacing: 0.05em;
    color: #000000;
    text-decoration: none;
    font-weight: bold;    
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 2px solid #000000;
}

.nav-link-wrapper a:hover {
    color: 2px solid #AEAEAE;
}

.subtitle a{
        color: #A7D1BD;
    }

.subtitle a:hover{
    color: #59B087;
}

.copyright{
    margin-top: -5%;
    padding-bottom: 5%;
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    color: #aeaeae;
    animation:1.2s ease-in-out 0s 1 slideInFromBottom;
}

.skills-new img{
    width: 166.5%;
    margin-left: -33.25%;
}

.skills-new1 img{
    width: 166.5%;
    margin-left: -33.25%;
    margin-top: -15%;
}

.hands {
    padding-top: 8%;
    width: 35%;
    
}

.grab {
    display:none;
    position: absolute;
    right:0%;
    width: 35%;
    padding-top: 8%;
}
    
.grab img{
    width:100%;
    border-radius: 10px;
    border: 1px solid black;   
    }

.meet:hover > .grab{
    
    display:block;
  }

.hands img{
    width: 100%;
    animation:1.2s ease-in-out 0s 1 slideInFromRight;
    border-radius: 10px;
    border: 1px solid black;
}
   
.about-question {
    text-align: left;
    font-family: 'Karla', sans-serif;
    font-size: 1.5em;
    color: #B0B0B0;
    line-height: 1.4em;
    font-weight: 600;
    animation: 1.2s ease-in-out 0s 1 slideInFromLeft;
}

.right-blurb {
    text-align: left;
    width: 100%;
    font-family: 'Karla', sans-serif;
    font-size: 1.1em;
    font-weight: 700px;
    line-height: 1.4em;
    color: #000000;
    animation:1.2s ease-in-out 0s 1 slideInFromBottom;
}

.latest-new {
   
    width: 50%;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    color: #000000;
    font-family: 'Karla', sans-serif;
    text-align: center;
    animation: 0.8s ease-in-out 0s 1 slideInFromBottom;
}

.latest {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    color: #000000;
    font-family: 'Karla', sans-serif;
    text-align: center;
    animation: 0.8s ease-in-out 0s 1 slideInFromBottom;
}

.columns {
    justify-content: space-between;
    color: #000000;
    font-family: 'Karla', sans-serif;
    text-align: left;
    padding-left: 35px;
}

.as-of {
    color: #000000;
    font-family: 'Karla', sans-serif;
    line-height: 2em;
}

.stuff {
    padding-bottom: 20px;
    font-size: 1.1rem;
}

.interests-1 {
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    line-height: 3em;
    font-size: 1em;
    color: #000000;
    padding-top: 30px;
    padding-left: 35px;
    text-align: left;
}

.interests-1 a{
    font-weight: 700;
    line-height: 3em;
    font-size: 1em;
    color: #A7D1BD;
}

.interests-1 a:hover{
       color:  #59B087;
}
 


/*Portfolio styles*/

.meet {
    display: flex; 
    position: relative;
    top: 0;
    bottom: 0;
    padding: 0% 0% 5% 0%;
}

@media screen and (max-width: 900px) {
    .meet {
        display: block; 
    }
}

.hi-wrapper{
    width: 60%;
    padding: 0% 5% 10% 0%;
}

.hi{
    width: 100%;
    text-align: left;
    font-size: 7em;
    font-family:  "Inter", sans-serif;
    color: #000000;
    font-weight: 600;
    animation:0.8s ease-in-out 0s 1 slideInFromLeft;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.parent {
    position: relative;
    top: 0;
    bottom: 0;
}

.gif{
    display:none;
    position: absolute;
    right:0%;
    width: 35%;

}

.gif img{
    width:150%;
    margin-left: -20%;
}

.meet:hover > .gif{
    display:block;
  }


.meet:hover .hi span{
    color: #93CAB0;
    cursor: crosshair;
  }


.hi span {
    width: 100%;
    font-family: "Inter", sans-serif;
    font-size: 1em;
    color: #f8f8f8;
    padding-bottom: 1%;
    padding-top: 3%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.image-of-me img {
    width: 150%;
    animation:0.8s ease-in-out 0s 1 slideInFromRight;
    position: relative;
    margin-left: -20%;
}

.image-of-me{
    width: 35%;
}

.greeting {
    text-align: left;
    font-family: 'Karla', sans-serif;
    font-size: 1.5em;
    font-weight: 800px;
    line-height: 1.4em;
    padding: 5% 0% 0% 0%;
    color: #000000;
    transition: color 0.2s;
    animation:0.8s ease-in-out 0s 1 slideInFromLeft;
}

.greeting span{
    color:  #A7D1BD;
    font-weight: 800;
}

.question {
    text-align: left;
    padding-bottom: 2.5em;
    font-family: 'Karla', sans-serif;
    font-size: 1.5em;
    color: #B0B0B0;
    line-height: 1.4em;
    font-weight: 600;
    animation: 0.8s ease-in-out 0s 1 slideInFromBottom;
}

.answer {
    width: 100%;
    padding: 0% 0% 10% 0%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 1000;
    color: #000000;
    transition: color 0.2s;
    align-items: right;
    
}

.answer-title{
    width: 100%;
    font-size: 3.4em;
    color: #f8f8f8;
    padding-bottom: 1%;
    padding-top: 3%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.answer a{
    text-decoration: none;
    color: #000000;
    font-weight: 1000;
}

.answer:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
    cursor: crosshair;
}

.answer:hover .answer-title {
    color: #000000;
    cursor: crosshair;
}

.images{
    width: 100%;
}

.images img {
    width: 100%;
}


.subanswer {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.4em;
    letter-spacing: 0.05em;
    padding-bottom: 5%;
    color: #AEAEAE;
    text-transform: lowercase;
}

/*Not Work styles*/
.project-title {
    width: 100%;
    text-align: left;
    font-size: 5em;
    font-family:  'Karla', sans-serif;
    color: #000000;
    font-weight: 600;
    animation:0.8s ease-in-out 0s 1 slideInFromLeft;
    text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000; 
}


input {
    display: none;
}

label {
    display: block;
    transition: ease .5s;
    cursor: pointer;
    text-align: left;
    font-family: 'Karla', sans-serif;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 1000;
    color: #000000;
    background: #E2F5ED;
    padding: 8px 22px;
    margin: 0 0 1px 0;
    margin-top: 40px;
}

label:hover {
    background: #A7D1BD;
}

.content {
    background: #ffffff;
}

input + label + .content {
    display: none;
}

input:checked + label + .content {
    display: block;
}

.header-img img {
    margin-left: -12%;
    padding-bottom: 5%;
    width: 125%; 
    animation: 0.8s ease-in-out 0s 1 slideInFromBottom;
}

.prototype {
    margin-top: 30px;
    background-color: #E2F5ED;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 10px;
}

.prototype1 {
    margin-top: 30px;
    background-color: #E2F5ED;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
}

.prototype2 img {
    width: 100%;
    border-radius: 10px;
}

.prototype-image img {
    width: 80%;
    margin-left: 10%;
    border-radius: 10px;
}

.stories{
    text-align: right;
    font-family: 'Karla', sans-serif;
    font-size: 1.2em;
    font-style: italic;
    color: #000000;
    line-height: 1.75em;
    width: 130%;
    padding-top: 50px;
    padding-left: 100px;
}

.stories a{
    text-align: right;
    font-family: 'Karla', sans-serif;
    font-size: 1.2em;
    font-weight: 800;
    font-style: italic;
    color: #A7D1BD;
    line-height: 1.75em;
    width: 130%;
    text-decoration: none;
}

.stories a:hover{
    color: #59B087;
}

.next{
    margin-right:32%;
}

.answer-1 {
    text-align: center;
    padding-top: 20px;
    font-family: 'Karla', sans-serif;
    font-size: 2em;
    font-style: normal;
    font-weight: 1000;
    line-height: 1.4em;
    color: #000000;
}

.answer-3 {
    text-align: left;
    padding-top: 30px;
    font-family: 'Karla';
    font-size: 1.7em;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4em;
    color: #000000;
}

.answer-3 a{
    text-decoration: none;
    color: #A7D1BD;
    font-weight: 1000;
}

.answer-3 a:hover {
    color: #59B087;
}

.rationale {
    padding: 20px 20px 20px 20px;
    margin-bottom: 100px;
    margin-top: 20px;
    font-family: 'Karla', sans-serif;
    font-size: 1.2em;
    font-style: normal;
    color: #000000;
    border: 1px solid black; 
    line-height: 1.75em;
    border-radius: 10px;
}


.header {
    padding-top: 20px;
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-size: 1.4em;
    font-style: normal;
    color: #000000;
    line-height: 1.75em;
}

.header a {
    color: #A7D1BD;
    text-decoration: bold;
}

.title {
    text-align: left;
    padding-top: 70px;
    margin-bottom: -25px;
    font-family: 'Karla', sans-serif;
    font-size: 2.25em;
    font-style: normal;
    font-weight: 1000;
    line-height: 1.4em;
    color: #A7D1BD;
}

.subtitle {
    text-align: left;
    font-family: 'Karla', sans-serif;
    font-size: 1.3em;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 1px;
    color: #000000;
    padding-bottom: 24px;
}

.subtitle2 {
    text-align: left;
    font-family: 'Karla', sans-serif;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 600;
    color: #aeaeae;
}

.columns-2 {
    justify-content: space-between;
    color: #000000;
    font-family: 'Karla', sans-serif;
    text-align: left;
}

.list li{
    padding-left: 170px;
}

.stuff a{
    color: #A7D1BD;
    text-decoration: bold;
}

.stuff span{
    font-weight: 800;
}

.wardrobe img{ 
    width: 50%;
    margin-left: 25%;
}


/*About Me*/

.blurb-container {
    position: relative;
}

.right-blurb span{
    font-weight: 1000;
}

.right-blurb a{
    color: #A7D1BD;
}

.question-1{
    text-align: left;
    padding-bottom: 1.5em;
    padding-top: 3em;
    font-family: 'Karla', sans-serif;
    font-size: 1.5em;
    color: #B0B0B0;
    line-height: 1.4em;
    font-weight: 600;
}

.question-3{
    text-align: left;
    padding-bottom: 0.75em;
    font-family: 'Karla', sans-serif;
    font-size: 2em;
    color: #B0B0B0;
    line-height: 1.4em;
    font-weight: 800;
}

/*Footer styles*/

.still {
    font-size: 0.6em;
    font-weight: 600;
    color: #B0B0B0;
}

.footer {
    display: flex;
    font-family: 'Karla', sans-serif;
    justify-content: flex-start;
    padding-bottom: 100px;
    animation: 0.8s ease-in-out 0s 1 slideInFromBottom;
}

.footer > div {
    margin-right: 24px; 
    font-size: 1em;
    text-transform: lowercase;
}

/* Make it Responsive */
@media screen and (max-width: 1400px) {
    .right-blurb {
        font-size: 0.9em;
    }
    .about-question {
        font-size: 1.7em;
    }

    .latest-new {
        bottom: -20%;
    }
}

@media screen and (max-width: 1300px) {
    .latest-new {
        bottom: -10%;
    }
    .interests-1{
        font-weight: 400;
        line-height: 2em;
        font-size: 0.8em;    
        padding-top: 20px;
    }
    .about-question {
        font-size: 1.3em;;
    }
}

@media screen and (max-width: 1200px) {
    .answer-wrapper {
        font-size: 2em;
    }

    .right-blurb {
        font-size: 0.75em;
        width: 60%;
    }

    .about-question {
        font-size: 1.2em;;
    }

    .latest-new {
        bottom: -5%;
    }
}

@media screen and (max-width: 1100px) {
    .latest-new {
        bottom: -20px;
    }
    .about-question {
        font-size: 1.3em;;
    }
}

 @media screen and (max-width: 1000px) {
    .about-question {
        font-size: 1em;;
    }
    .latest-new{
        bottom: 15%;
        padding-top: 30px;
    }
    .interests-1 {
        font-weight: 400;
        line-height: 0em;
        font-size: 0.7em;    
        padding-top: 0px;
    }
    .answer-wrapper {
        font-size: 1.5em;
    }

    .right-blurb {
        font-size: 0.6em;
        width: 58%;
    }
}

@media screen and (max-width: 750px) {
    
    .right-blurb {
        font-size: 0.5em;
    }
   
    .about-question {
        font-size: 0.8em;;
    }
    .latest-new{
        bottom: 25%;
        padding-top: 30px;
    }
    .interests-1 {
        font-weight: 400;
        line-height: 0em;
        font-size: 0.7em;    
        padding-top: 0px;
    }
}


@media screen and (max-width: 650px) {
    .right-blurb {
        font-size: 0.38em;
        width: 62%;
        top: 9%;
    }
    .interests-1 {
        font-weight: 400;
        line-height: -0.3em;
        font-size: 0.5em;    
        padding-top: 0px;
    }
    .about-question {
        font-size: 0.6em;;
    }
    .latest-new{
        bottom: 35%;
        padding-top: 30px;
    }
}

@media screen and (max-width: 400px) {
    
    .right-blurb {
        font-size: 0.3em;
        width: 50%;
    }

    .about-question {
        font-size: 0.5em;;
    }

    body {
        margin-right: 10%;
        margin-left: 10%;
    }

    .subanswer {
        font-size: 0.25em;
    }

    .right-blurb {
        text-align: left;
        font-size: 0.01em;
    }
    
    .interests-1 {
        font-weight: 300;
        line-height: -0.5em;
        font-size: 0.4em;    
        padding-top: 0px;
    }

    .latest-new{
        bottom: 50%;
        padding-top: 30px;
    }
}






